* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

p {
  color: #7a5912c0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #867437;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  background-color: #e4d6b0de;
  height: 100vw;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  .page {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    padding-top: 50px;
    margin-left: 220px;
  }
}
.container--top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: unset;
  background-color: #685325c0;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0px;
}
@media screen and (min-width: 768px) {
  .container--top {
    height: 100%;
    width: 200px;
    position: fixed;
    margin: 0px;
  }
}
.container--projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: unset;
}
.container__nav {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.container__nav--namebox {
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .container__nav--namebox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
  }
}
.container__nav--listbox {
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container__nav--listbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
  }
}
.container__head-text {
  font-size: 30px;
  color: #d1c558;
}
.container__btn {
  color: #f9fabbb4;
  background-color: #ad8839c0;
}
.container__btn--border {
  border: solid #ad8839c0;
  border-radius: 15px;
  padding: 3px 7px;
}
.container__img {
  height: 175px;
  width: 350px;
}
@media screen and (min-width: 768px) {
  .container__img {
    height: 200px;
    width: 400px;
  }
}
@media screen and (min-width: 992px) {
  .container__img {
    height: 300px;
    width: 700px;
  }
}
.container__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
