* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

i {
  color: #b4ad94cb;
}

p {
  color: #b4ad94bb;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: #b4ad94cb;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  background-image: url(../project-images/stars.jpg);
  background-size: 2250px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .page {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
    height: 100vw;
    background-size: 1500px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 992px) {
  .page {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
    height: 100vw;
    background-size: 1750px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .page {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
    height: 100vw;
    background-size: 2250px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1400px) {
  .page {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
    height: 100vw;
    background-size: 2750px;
    background-repeat: no-repeat;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  margin: 0px 40px;
  width: 100vw;
  height: 180vh;
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    height: 100vw;
    margin-left: 200px;
  }
}
.container--top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: unset;
  height: 100px;
  width: 100%;
  padding: 10px 0px;
  background-color: #14141470;
}
@media screen and (min-width: 768px) {
  .container--top {
    height: 100%;
    width: 200px;
    position: fixed;
    margin: 0px;
  }
}
.container--projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container__nav {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.container__nav--namebox {
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .container__nav--namebox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
  }
}
.container__nav--listbox {
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .container__nav--listbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
  }
}
.container__head-text {
  font-size: 30px;
  color: #b4ad94;
}
.container__btn {
  color: #b4ad94;
}
.container__btn--border {
  border-radius: 15px;
  padding: 3px 7px;
}
.container__btn--active {
  background-color: #58544454;
}
.container__btn--hover:hover {
  background-color: #b4ad94;
  color: black;
}
.container__btn--onclick:active {
  background-color: #88b4e7;
}
.container__img {
  height: 175px;
  width: 350px;
}
@media screen and (min-width: 768px) {
  .container__img {
    height: 250px;
    width: 500px;
  }
}
@media screen and (min-width: 992px) {
  .container__img {
    height: 290px;
    width: 580px;
  }
}
@media screen and (min-width: 1200px) {
  .container__img {
    height: 350px;
    width: 700px;
  }
}
@media screen and (min-width: 1400px) {
  .container__img {
    height: 400px;
    width: 800px;
  }
}
.container__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__card--contact {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  background-color: #58544454;
}
