@use "theme";
@use "media";

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
.page {
    @include flex(column, unset, center);
    // background-color: theme.$primaryContainer;
    background-image: url(../project-images/stars.jpg);
    background-size: 2250px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    @include media.mqtablet {
        @include flex(row, unset, unset);
        height: 100vw;
        background-size: 1500px;
        background-repeat: no-repeat;
    }
    @include media.mqdesktop {
        @include flex(row, unset, unset);
        height: 100vw;
        background-size: 1750px;
        background-repeat: no-repeat;
    }
    @include media.mqdesktopxl {
        @include flex(row, unset, unset);
        height: 100vw;
        background-size: 2250px;
        background-repeat: no-repeat;
    }
    @include media.mqdesktopxxl {
        @include flex(row, unset, unset);
        height: 100vw;
        background-size: 2750px;
        background-repeat: no-repeat;
    }
}

.container {
    @include flex(column, unset, center);
    margin: 0px 40px;
    width: 100vw;
    height: 180vh;

    @include media.mqtablet {
        @include flex(column, unset, center);
        // padding-top: 20vh;
        height: 100vw;
        margin-left: 200px;
    }

    &--top {
        @include flex(column, space-evenly, unset);
        height: 100px;
        width: 100%;
        padding: 10px 0px;
        background-color: theme.$primary;

        @include media.mqtablet {
            height: 100%;
            width: 200px;
            position: fixed;
            margin: 0px;
        }
    }
    &--projects {
        @include flex(column, space-between, center);
        width: 100%;
        height: 100%;
    }

    &__nav {
        @include flex(row, unset, center);
        width: 100%;

        @include media.mqtablet {
            @include flex(column, space-evenly, center);
        }

        &--namebox {
            justify-content: center;

            @include media.mqtablet {
                @include flex(column, space-evenly, center);
                height: 20%;
            }
        }
        &--listbox {
            justify-content: space-evenly;

            @include media.mqtablet {
                @include flex(column, space-evenly, center);
                height: 80%;
            }
        }
    }
    &__head-text {
        font-size: 30px;
        color: theme.$onPrimary;
    }
    &__btn {
        // background-color: theme.$onPrimary;
        color: theme.$onPrimary;

        &--border {
            border-radius: 15px;
            padding: 3px 7px;
        }
        &--active {
            background-color: theme.$variable;
        }
        &--hover:hover {
            background-color: theme.$onPrimary;
            color: theme.$strong;
        }
        &--onclick:active {
            background-color: theme.$onTertiary;
        }
    }

    &__img {
        height: 175px;
        width: 350px;

        @include media.mqtablet {
            height: 250px;
            width: 500px;
        }

        @include media.mqdesktop {
            height: 290px;
            width: 580px;
        }

        @include media.mqdesktopxl {
            height: 350px;
            width: 700px;
        }
        @include media.mqdesktopxxl {
            height: 400px;
            width: 800px;
        }
    }
    &__card {
        @include flex(column, unset, center);

        &--contact {
            width: 400px;
            height: 400px;
            border-radius: 15px;
            background-color: theme.$variable;
        }
        &--title {
            height: 10%;
            justify-content: center;
        }
        &--text {
            @include flex(column, space-evenly, unset);
            height: 90%;
        }
    }
}
