$primaryThemeColor: #051622;
$SecondaryThemeColor: #1ba098;
$ContrastThemeColor: #deb992;

* {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
}
p {
    color: $ContrastThemeColor;
}
