body {
    background-color: lightsteelblue;
}
.top-nav {
    display: flex;
    justify-content: space-around;
    border: solid steelblue;
    border-radius: 8px;
    padding: 3px;
    align-items: center;
}
.top-nav a {
    text-decoration: none;
    margin: 10px;
}
.main-home {
    font-size: 30px;
}
